<!--
$MOD$ pleasewait.component.html 4.3.1-200121-21-2e9c3f81-1a04bc7d
-->

<div id="popupMainContent">
  <!--
    This version information should reside within main-div-tag to also get removed when removing popup.
    -->
  <div class="modalOverlayPopup">
    <div id="pleaseWaitPopup" class="popupWindow" data-view-key="">
      <figure id="popupWindowContent" data-view-key="">
        <main id="flexMainPopup">
          <article id="flexArticlePopup">
            <!-- Points loader -->
            <div id="waitLine">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
            <var
              id="MESSAGE_POPUP_LABEL"
              class="color03 font01"
              data-bind="command: {id: 'MESSAGE_POPUP_LABEL', type: CMDTYPE.TEXT, adaType: ADA_TYPE.MESSAGE, state: CMDSTATE.NONE, action: null, label: {html: messageText, inplace: true}}"
            ></var>
          </article>
        </main>
      </figure>
    </div>
    <div style="display: none">
      <!-- We hide the cancel button for softkey -->
      <div
        id="buttonCancelPopup"
        class="button button03 skRight iconButton"
        data-bind="command: {id: 'CANCEL_PLEASE_WAIT_POPUP', args: ['CANCEL'], adaType: ADA_TYPE.FUNCTION_KEY, state: CMDSTATE.HIDDEN, label: {text: getLabel('GUI_[#VIEW_KEY#]_Button_Cancel', 'Cancel')}, eppkey: 'CANCEL'}"
      >
        <svg data-bind="svguse: { name: 'cancel.svg' }"></svg>
        <var
          class="color09 font01"
          data-bind="html: cmdRepos.getCmdLabel('CANCEL_PLEASE_WAIT_POPUP')"
        ></var>
      </div>
    </div>
  </div>
</div>
