<!DOCTYPE html>
<!--
$MOD$ index.html 4.3.1-200121-21-2e9c3f81-1a04bc7d
-->
<html>
    <head>
        <title>ProFlex4 UI</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
        <meta name="format-detection" content="telephone=no"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="style/default/images/dm/PF4_UI.ico">
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                let href, url, childs = document.getElementsByTagName("head")[0].children, storage = window.sessionStorage;
                for(let i = childs.length - 1; i >= 0; i--) { // css href updater
                    href = childs[i].href;
                    if(href) {
                        url = storage.getItem(href.substr(href.lastIndexOf("/") + 1)); // extract file name as a storage key
                        if(url && href.indexOf(url.substr(url.indexOf("style"))) === -1) {
                            childs[i].href = url ? url : href;
                        }
                    }
                }
            }, false);
            // install global error handler
            if(window.top) {
                window.onerror = function(message, file, line, column, errorObj) {
                    if(window.Wincor) {
                        try {
                            let args = Array.prototype.slice.call(arguments);
                            window.Wincor.UI.Service.Provider.propagateError(JSON.stringify(args, null, ""), "ROUTING", errorObj);
                        }
                        catch(e) {
                            // sometimes errors produce cyclic structures in arguments, so stringify failed...
                            console.error(message + " " + file + " " + line + " " + column + e);
                            // when propagateError fails, we have at least a console error logged before
                            window.Wincor.UI.Service.Provider.propagateError(message + "-" + file + "-" + line, "ROUTING", errorObj);
                        }
                    }
                    else {
                        console.error("Wincor is not defined error: " + JSON.stringify(arguments));
                    }
                }
            }
            else {
                window.onerror = (message, file, line, column, errorObj) => console.error(JSON.stringify(arguments));
            }
        </script>

        <link rel="stylesheet" type="text/css" href="style/default/default/default/layouts.css" data-style-resource="layouts.css">
        <link rel="stylesheet" type="text/css" href="style/default/default/default/sizes-positions.css" data-style-resource="sizes-positions.css">
        <link rel="stylesheet" type="text/css" href="style/default/default/default/animations.css" data-style-resource="animations.css">
        <link rel="stylesheet" type="text/css" href="style/default/default/default/layouts-custom.css" data-style-resource="layouts-custom.css">
        <link rel="stylesheet" type="text/css" href="style/default/default/default/sizes-positions-custom.css" data-style-resource="sizes-positions-custom.css">
        <link rel="stylesheet" type="text/css" href="style/default/default/default/animations-custom.css" data-style-resource="animations-custom.css">
        <link rel="stylesheet" type="text/css" href="style/default/default/default/softkey-custom.css" data-style-resource="softkey-custom.css">
        <link rel="stylesheet" type="text/css" href="style/default/default/default/svg.css" data-style-resource="svg.css">
        <link rel="stylesheet" type="text/css" href="style/default/default/default/transitions.css">
    </head>

    <body data-view-type="softkey" data-view-key="" oncontextmenu="return false;">
    <div id="applicationHost"></div>

    <script src="../../lib/require.js"></script>
    <script>
        require(["../../content/config/ContentResources"]);
    </script>
    </body>
</html>