<!--
$MOD$ shell.html 4.3.1-201021-21-23fb68fb-1a04bc7d
-->

﻿<div data-view-id="" data-view-key="" data-popup-active="">
    <!-- ko compose: { model:'content/views/script/header', view:'views/header.html', skipTransitionOnSameViewId: true } --><!-- /ko -->
    <!-- ko router: { cacheViews:false } --><!-- /ko -->
    <!-- ko compose: { model:'content/views/script/footer', view:'views/footer.html', skipTransitionOnSameViewId: true } --><!-- /ko -->
    <!-- ko compose: { model:'content/views/script/waitspinner', view:'views/components/waitspinner.component.html', skipTransitionOnSameViewId: true } --><!-- /ko -->
</div>
